In [53]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53%
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56%
2,2,Ithergue48,24,Male,92,Final Critic,4.88%
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27%
4,4,Iskosia90,23,Male,131,Fury,1.44%
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54%
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63%
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46%
778,778,Sisur91,7,Male,92,Final Critic,4.19%
779,779,Ennrian78,24,Male,50,Dawn,4.60%

## Player Count

* Display the total number of players

In [54]:
player_count = purchase_data["SN"].nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
# Define Variables
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

In [56]:
# Format Currency
purchase_data['Price'] = purchase_data['Price'].astype(float)
pd.options.display.float_format = '${:,.2f}'.format

In [57]:
#Create Datafram for Results
purchase_analysis = [{"Number of Unique Items": unique_items, "Average Price": average_price, 
                      "Number of Purchases": total_purchases, "Total Revenue": total_revenue}]
purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [58]:
#create dataframe of unique players
unique_players_df = purchase_data.drop_duplicates(subset=['SN'], keep='first')
gender_pct_df = unique_players_df["Gender"].value_counts().rename_axis('Gender').to_frame('Total Counts')
gender_pct_df["Percentage"] = (gender_pct_df["Total Counts"]/576) * 100
pd.options.display.float_format = ("{0:.2f}%".format)
gender_pct_df

                       Total Counts  Percentage
Gender
Male                            484      84.03%
Female                           81      14.06%
Other / Non-Disclosed            11       1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [59]:
#create lots of variables
males = gender_pct_df.iloc[0,0]
females = gender_pct_df.iloc[1,0]
other = gender_pct_df.iloc[2,0]

In [60]:
#calculate male analysis
male_df = purchase_data[purchase_data['Gender'] == "Male"]
m_avg_pur_price = male_df["Price"].mean()
m_tot_pur_value = male_df["Price"].sum()
m_avg_total_pur = m_tot_pur_value/males

In [61]:
#calculate female analysis
female_df = purchase_data[purchase_data['Gender'] == "Female"]
f_avg_pur_price = female_df["Price"].mean()
f_tot_pur_value = female_df["Price"].sum()
f_avg_total_pur = f_tot_pur_value/females

In [62]:
#calculate other analysis
other_df = purchase_data[purchase_data['Gender'] == "Other / Non-Disclosed"]
o_avg_pur_price = other_df["Price"].mean()
o_tot_pur_value = other_df["Price"].sum()
o_avg_total_pur = o_tot_pur_value/other

In [63]:
#create the dataframe
gender_purchase_df = purchase_data["Gender"].value_counts().rename_axis('Gender').to_frame('Purchase Count')
pd.options.display.float_format = '${:,.2f}'.format
gender_purchase_df["Average Purchase Prices"] = [m_avg_pur_price, f_avg_pur_price, o_avg_pur_price]
gender_purchase_df["Total Purchase Value"] = [m_tot_pur_value, f_tot_pur_value, o_tot_pur_value]
gender_purchase_df["Avg Total Purchase per Person"] = [m_avg_total_pur, f_avg_total_pur, o_avg_total_pur]
gender_purchase_df

,Purchase Count,Average Purchase Prices,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [81]:
# Create the bins in which Data will be held 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [82]:
pd.cut(unique_players_df["Age"], bins=bins, labels=group_names)
unique_players_df["Age Bracket"] = pd.cut(unique_players_df["Age"], bins=bins, labels=group_names)
unique_players_df.head()

/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53%,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56%,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88%,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27%,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44%,20-24

In [83]:
#group by age bracket
age_group = unique_players_df.groupby("Age Bracket")

age_group_df = age_group["SN"].count()
age_group_df
#age_group_df["Percentage of Players"] = (age_group_df["Total Counts"]/576) * 100

Age Bracket
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [84]:
#format for percentage
pd.options.display.float_format = ("{0:.2f}%".format)

#create summary dataframe
data = {'Age Bracket': ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
        'Total Count': [17, 22, 107, 258, 77, 52, 31, 12],
        'Percentage of Players': [((17/player_count)*100), ((22/player_count)*100),
                                  ((107/player_count)*100), ((258/player_count)*100),
                                  ((77/player_count)*100), ((52/player_count)*100),
                                  ((31/player_count)*100), ((12/player_count)*100)]}
pd.DataFrame.from_dict(data)

  Age Bracket  Total Count  Percentage of Players
0         <10           17                  2.95%
1       10-14           22                  3.82%
2       15-19          107                 18.58%
3       20-24          258                 44.79%
4       25-29           77                 13.37%
5       30-34           52                  9.03%
6       35-39           31                  5.38%
7         40+           12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
pd.options.display.float_format = '${:,.2f}'.format

#cut main dataframe by age ranges
pd.cut(purchase_data["Age"], bins=bins, labels=group_names)
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins=bins, labels=group_names)

#groupby age ranges
age_group2 = purchase_data.groupby("Age Ranges")
age_group2_df = age_group2["SN"].count().rename_axis('Age Ranges').to_frame('Purchase Count')
age_group2_df

17
3.35
77.13
4.537058823529412

In [124]:
#obtain data by age groups
below10_df = purchase_data.loc[purchase_data["Age Ranges"] == "<10", :]
below10_people = len(below10_df.drop_duplicates(subset='SN'))
below10_purcount = below10_df['Purchase ID'].count()
below10_avgpurchase = round(below10_df['Price'].mean(), 2)
below10_totpurchase = below10_df['Price'].sum()
below10_avg_total = (below10_totpurchase/below10_people).astype(float)

print(below10_purcount)
print(below10_avgpurchase)
print(below10_totpurchase)
print(below10_avg_total)

23
3.35
77.13
4.537058823529412

In [125]:
#obtain data by age groups
df_1014 = purchase_data.loc[purchase_data["Age Ranges"] == "10-14", :]
people_1014 = len(df_1014.drop_duplicates(subset='SN'))
purcount_1014 = df_1014['Purchase ID'].count()
avgpurchase_1014 = round(df_1014['Price'].mean(), 2)
totpurchase_1014 = df_1014['Price'].sum()
avg_total_1014 = (totpurchase_1014/people_1014).astype(float)

print(purcount_1014)
print(avgpurchase_1014)
print(totpurchase_1014)
print(avg_total_1014)

28
2.96
82.78
3.7627272727272727

In [126]:
#obtain data by age groups
df_1519 = purchase_data.loc[purchase_data["Age Ranges"] == "15-19", :]
people_1519 = len(df_1519.drop_duplicates(subset='SN'))
purcount_1519 = df_1519['Purchase ID'].count()
avgpurchase_1519 = round(df_1519['Price'].mean(), 2)
totpurchase_1519 = df_1519['Price'].sum()
avg_total_1519 = (totpurchase_1519/people_1519).astype(float)

print(purcount_1519)
print(avgpurchase_1519)
print(totpurchase_1519)
print(avg_total_1519)

136
3.04
412.89
3.858785046728972

In [127]:
#obtain data by age groups
df_2024 = purchase_data.loc[purchase_data["Age Ranges"] == "20-24", :]
people_2024 = len(df_2024.drop_duplicates(subset='SN'))
purcount_2024 = df_2024['Purchase ID'].count()
avgpurchase_2024 = round(df_2024['Price'].mean(), 2)
totpurchase_2024 = df_2024['Price'].sum()
avg_total_2024 = (totpurchase_2024/people_2024).astype(float)

print(purcount_2024)
print(avgpurchase_2024)
print(totpurchase_2024)
print(avg_total_2024)

365
3.05
1114.06
4.318062015503876

In [128]:
#obtain data by age groups
df_2529 = purchase_data.loc[purchase_data["Age Ranges"] == "25-29", :]
people_2529 = len(df_2529.drop_duplicates(subset='SN'))
purcount_2529 = df_2529['Purchase ID'].count()
avgpurchase_2529 = round(df_2529['Price'].mean(), 2)
totpurchase_2529 = df_2529['Price'].sum()
avg_total_2529 = (totpurchase_2529/people_2529).astype(float)

print(purcount_2529)
print(avgpurchase_2529)
print(totpurchase_2529)
print(avg_total_2529)

101
2.9
292.99999999999994
3.8051948051948044

In [129]:
#obtain data by age groups
df_3034 = purchase_data.loc[purchase_data["Age Ranges"] == "30-34", :]
people_3034 = len(df_3034.drop_duplicates(subset='SN'))
purcount_3034 = df_3034['Purchase ID'].count()
avgpurchase_3034 = round(df_3034['Price'].mean(), 2)
totpurchase_3034 = df_3034['Price'].sum()
avg_total_3034 = (totpurchase_3034/people_3034).astype(float)

print(purcount_3034)
print(avgpurchase_3034)
print(totpurchase_3034)
print(avg_total_3034)

73
2.93
214.00000000000003
4.115384615384616

In [130]:
#obtain data by age groups
df_3539 = purchase_data.loc[purchase_data["Age Ranges"] == "35-39", :]
people_3539 = len(df_3539.drop_duplicates(subset='SN'))
purcount_3539 = df_3539['Purchase ID'].count()
avgpurchase_3539 = round(df_3539['Price'].mean(), 2)
totpurchase_3539 = df_3539['Price'].sum()
avg_total_3539 = (totpurchase_3539/people_3539).astype(float)

print(purcount_3539)
print(avgpurchase_3539)
print(totpurchase_3539)
print(avg_total_3539)

41
3.6
147.67
4.763548387096773

In [131]:
#obtain data by age groups
df_40up = purchase_data.loc[purchase_data["Age Ranges"] == "40+", :]
people_40up = len(df_40up.drop_duplicates(subset='SN'))
purcount_40up = df_40up['Purchase ID'].count()
avgpurchase_40up = round(df_40up['Price'].mean(), 2)
totpurchase_40up = df_40up['Price'].sum()
avg_total_40up = (totpurchase_40up/people_40up).astype(float)

print(purcount_40up)
print(avgpurchase_40up)
print(totpurchase_40up)
print(avg_total_40up)

13
2.94
38.24
3.186666666666667

In [166]:
#create summary dataframe
age_group2_df["Average Purchase Price"] = [below10_avgpurchase, avgpurchase_1014, avgpurchase_1519, 
                                           avgpurchase_2024, avgpurchase_2529, avgpurchase_3034,
                                           avgpurchase_3539, avgpurchase_40up]
age_group2_df["Total Purchase Value"] = [below10_totpurchase, totpurchase_1014, totpurchase_1519,
                                        totpurchase_2024, totpurchase_2529, totpurchase_3034,
                                        totpurchase_3539, totpurchase_40up]
age_group2_df["Avg Total Purchase per Person"] = [below10_avg_total, avg_total_1014, avg_total_1519,
                                                 avg_total_2024, avg_total_2529, avg_total_3034,
                                                 avg_total_3539, avg_total_40up]
age_group2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [167]:
#identify top spenders
columns = purchase_data[['SN', 'Item Name', 'Price']]
new_df = pd.concat(g for _, g in columns.groupby('SN') if len(g) >2)
top_spenders = new_df.groupby(['SN']).agg({'Price': sum}).reset_index()
top5_df = top_spenders.sort_values(['Price'], ascending=False).head(5)
top5_df

             SN  Price
21    Lisosia93 $18.96
12  Idastidru52 $15.45
5    Chamjask73 $13.83
15       Iral74 $13.62
17  Iskadarya95 $13.10

In [160]:
#Run calculations for each SN
Liso = purchase_data.loc[purchase_data["SN"] == "Lisosia93", :]
Liso_avg = round(Liso['Price'].mean(), 2)
Liso_pur = Liso['Purchase ID'].count()

In [161]:
#Run calculations for each SN
Ida = purchase_data.loc[purchase_data["SN"] == "Idastidru52", :]
Ida_avg = round(Ida['Price'].mean(), 2)
Ida_pur = Ida['Purchase ID'].count()

In [162]:
#Run calculations for each SN
Cham = purchase_data.loc[purchase_data["SN"] == "Chamjask73", :]
Cham_avg = round(Cham['Price'].mean(), 2)
Cham_pur = Cham['Purchase ID'].count()

In [163]:
#Run calculations for each SN
Iral = purchase_data.loc[purchase_data["SN"] == "Iral74", :]
Iral_avg = round(Iral['Price'].mean(), 2)
Iral_pur = Iral['Purchase ID'].count()

In [164]:
#Run calculations for each SN
Iska = purchase_data.loc[purchase_data["SN"] == "Iskadarya95", :]
Iska_avg = round(Iska['Price'].mean(), 2)
Iska_pur = Iska['Purchase ID'].count()

In [172]:
#create summary dataframe
top5_df['Purchase Count'] = [Liso_pur, Ida_pur, Cham_pur, Iral_pur, Iska_pur]
top5_df['Average Purchase Price'] = [Liso_avg, Ida_avg, Cham_avg, Iral_avg, Iska_avg]

top5_df

             SN  Price  Purchase Count  Average Purchase Price
21    Lisosia93 $18.96               5                   $3.79
12  Idastidru52 $15.45               4                   $3.86
5    Chamjask73 $13.83               3                   $4.61
15       Iral74 $13.62               4                   $3.40
17  Iskadarya95 $13.10               3                   $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [204]:
pd.options.display.float_format = '${:,.2f}'.format

newer_df = purchase_data[['Item ID', 'Item Name', 'Price']]
top_items = newer_df.groupby(['Item ID', 'Item Name']).agg({'Price': sum})
top_items_df = top_items.sort_values(['Price'], ascending=False)
top_items_df

                                                      Price
Item ID Item Name
92      Final Critic                                 $59.99
178     Oathbreaker, Last Hope of the Breaking Storm $50.76
82      Nirvana                                      $44.10
145     Fiery Glass Crusader                         $41.22
103     Singed Scalpel                               $34.80
...                                                     ...
28      Flux, Destroyer of Due Diligence              $2.12
125     Whistling Mithril Warblade                    $2.00
126     Exiled Mithril Longsword                      $2.00
104     Gladiator's Glaive                            $1.93
42      The Decapitator                               $1.75

[179 rows x 1 columns]

In [220]:
purchase_counts = purchase_data["Item Name"].value_counts().rename_axis('unique_values').reset_index(name='counts')
counts = purchase_counts['counts']

top_items_df['Purchase Count'] = counts
top_items_df
#lost on how to get the rest :(

                                                      Price  Purchase Count
Item ID Item Name
92      Final Critic                                 $59.99            $nan
178     Oathbreaker, Last Hope of the Breaking Storm $50.76            $nan
82      Nirvana                                      $44.10            $nan
145     Fiery Glass Crusader                         $41.22            $nan
103     Singed Scalpel                               $34.80            $nan
...                                                     ...             ...
28      Flux, Destroyer of Due Diligence              $2.12            $nan
125     Whistling Mithril Warblade                    $2.00            $nan
126     Exiled Mithril Longsword                      $2.00            $nan
104     Gladiator's Glaive                            $1.93            $nan
42      The Decapitator                               $1.75            $nan

[179 rows x 2 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame